<h3>Track: <%= @track.title %></h3>

<table>
    <tr>
        <th>Album</th>
        <td><%= @album.title %></td>
    </tr>
    <tr>
        <th>Number</th>
        <td><%= @track.order %></td>
    </tr>
    <tr>
        <th>Bonus Track?</th>
        <td><%= @track.is_bonus ? "Yes" : "No" %></td>
    </tr>
</table>
<br>

<p><%= @track.lyrics %></p>

<a href="<%= album_url(@track.album_id) %>">Back</a>
<a href="<%= edit_track_url(@track.id) %>">Edit Track</a>
<a href="<%= track_url(@track.id) %>" data-method="DELETE">Delete Track</a>

