<h1 class="view__heading">Track: <%= @track.title %></h1>

<div class="view__container">
    <table class="view__table">
        <tr>
            <th>Album</th>
            <td><%= @album.title %></td>
        </tr>
        <tr>
            <th>Number</th>
            <td><%= @track.order %></td>
        </tr>
        <tr>
            <th>Bonus Track?</th>
            <td><%= @track.is_bonus ? "Yes" : "No" %></td>
        </tr>
    </table>
    <br>

    <p><%= @track.lyrics %></p>

    <a href="<%= album_url(@track.album_id) %>">Back</a>
    <a href="<%= edit_track_url(@track.id) %>">Edit Track</a>
    <a href="<%= track_url(@track.id) %>" data-method="DELETE">Delete Track</a>

    <h3 class="view__heading">Notes</h3>

    <% @track.notes.each do |note| %>
        <div class="note__container">
            <p class="note__container--email"><%= note.user.email %></p>
            <p class="note__container--content"><%= note.content %></p>
        </div>
    <% end %>

    <%= render 'notes/form', track: @track %>

</div>



