<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar">
    <a class="music-app-header">Music App<a>
    <ul class="nav__list">
      <li class="nav__list--item"><a href="<%= bands_url %>" >Bands</a></li>
      <li class="nav__list--item"><a>Profile</a></li>
      <li class="nav__list--item"><a>Logout</a></li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
