<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar">
    <a class="music-app-header">Music App<a>
    <ul class="nav__list">
      
      <% if current_user %>
        <li class="nav__list--item"><a href="<%= bands_url %>" >Bands</a></li>
        <li class="nav__list--item"><a href="<%= user_url(current_user)%>">Profile</a></li>
        <li class="nav__list--item"><%= current_user.email %></li>
        <li class="nav__list--item"><a href="<%= session_url %>" data-method="DELETE">Logout</a></li>
      <% else %>
        <li class="nav__list--item"><a href="<%= new_session_url %>">Login</a>
        <li class="nav__list--item"><a href="<%= new_user_url%>">Register</a>
      <% end %>
      
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
